################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ValkyrEngine.UI/v16
/.vs/ValkyrEngine.UI/DesignTimeBuild
/ValkyrEngine.UI/obj
/.vs
